[Unit]
Description=Acer Battery Charge Limit Threshold Monitor (Hysteresis)
Documentation=https://github.com/MaksSuRitik/acer-sense
After=local-fs.target power-profiles-daemon.service
Requires=power-profiles-daemon.service

[Service]
Type=simple
ExecStartPre=/sbin/modprobe ec_sys write_support=1
ExecStart=/usr/lib/acer-sense/scripts/acer-battery-monitor.sh --daemon
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
