[Desktop Entry]
Name=Acer Sense
Comment=Control center for Acer laptops (Fan control, Battery limit, Profiles)
Exec=/usr/bin/acer-sense
Icon=acer-sense
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=acer;sense;fan;battery;power;
